body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgba(235, 131, 217, 0.411);
    width: 1200px;
}
.short-color{
    color: brown;
    font-weight: 700px;
}
.heading-size{
    font-weight: 700px;
    font-size: 60px;
    border-left: rgb(131, 5, 5) 5px solid;
}
.container{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding-left: 9%;
}
.about-btn{
    text-decoration:none ;
    padding: 12px;
    background-image: linear-gradient(rgb(128, 19, 37), rgb(231, 8, 45));
    color: wheat;
    font-weight: 700px;
    border-radius: 5px;
    margin-top: 20px;
}
.web-shadow{
    width: 20%;
    margin-left: 8%;
    padding: 7px;
    box-shadow:10px 10px 40px tomato;
    border-radius: 10px;
}
.illustrator-img-size{
    width: 200px;
    height: 200px;
}
.main-img-size{
    width: 500px;
    height: 500px;
}
.mission-heading{
    text-align: center;
    font-weight: 700px;
    font-size: 60px;
}
.banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    margin-left: 20px;
}
footer{
    background-color: rgb(144, 59, 223);
    height: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}
