body{
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
    background-color: #fcddf0;
    width: 1200px;
}
.short-color{
    color: brown;
    font-weight: 700px;
}
.heading-size{
    font-weight: 700px;
    font-size: 50px;
    border-left:  5px solid rgb(131, 5, 5);
}
.container{
    display: flex;
    margin: 80px 10px;
}
.half{
    width: 50%;
    padding-left: 9%;
}
.about-btn{
    text-decoration:none ;
    padding: 15px;
    background-image: linear-gradient(rgb(128, 19, 37), rgb(231, 8, 45));
    color: wheat;
    font-weight: 700px;
    border-radius: 8px;
    margin-top: 20px;
}
.web-shadow{
    width: 20%;
    margin-left: 8%;
    padding: 7px;
    box-shadow:10px 10px 40px tomato;
    border-radius: 10px;
}
.illustrator-img-size{
    width: 200px;
    height: 200px;
}
.main-img-size{
    width: 500px;
    height: 500px;
}
.mission-heading{
    text-align: center;
    font-weight: 700px;
    font-size: 60px;
}
.banner{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    margin-left: 20px;
}
.form-style{
    background-color: #feadde;
    margin-left: 35%;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 22px;
}
.input-style{
    background-color: black;
    width: 250px;
    padding: 13px;
    border-radius: 10px;
    margin-top: 5px;
    color:blanchedalmond;
}
.design-bt{
    margin-left: 70px;
}
.log-in-panel h1{
    text-align: center;
    background-color: black;
    color: cornsilk;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 260px;
    box-shadow: 10px 10px 40px rgb(235, 183, 107);
}
footer{
    background-color: black;
    height: 150px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: blanchedalmond;
}
